/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	touch-callout: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

input[type="text"], textearea {
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

body, html {
	max-width: 100%;
	overflow-x: hidden !important;
	margin: 0;
	padding: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	
	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		left: 100px;
		right: -100px;
	}
	
	to {
		opacity: 1;
		left: 0;
		right: 0;
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		left: 0;
		right: 0;
	}
	 
	to {
		opacity: 0;
		left: 100px;
		right: -100px;
	}
}

@keyframes logInRecIn {
	from {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0);
	}
	
	to {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(1);
	}
}

@keyframes logInRecSmall {
	from {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(1);
	}
	
	to {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0.76);
	}
}

@keyframes logInRecNotSmall {
	from {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0.76);
	}
	
	to {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(1);
	}
}

@keyframes recInInput {
	0% {
		opacity: 0;
		transform: scaleX(0);
		border-left: 0.5px solid #b8b7be;
	}
	
	20%{
		opacity: 1;
		transform: scaleX(0);
		border-left: 0.5px solid #b8b7be;
	}
	
	45% {
		opacity: 1;
		border-left: 10px solid #015679;
	}
	
	70% {
		opacity: 1;
		border-left: 20px solid #015679;
	}
	
	100% {
		opacity: 1;
		transform: scaleX(1);
		border-left: 20px solid #015679;
	}
}

@keyframes recOutInput {
	0% {
		opacity: 1;
		transform: scaleX(1);
		border-left: 20px solid #015679;
	}
	
	30% {
		opacity: 1;
		transform: scaleX(1);
		border-left: 20px solid #015679;
	}
	
	55% {
		opacity: 1;
		border-left: 10px solid #015679;
	}
		
	80%{
		opacity: 1;
		border-left: 0.5px solid #b8b7be;
	}
	
	100% {
		opacity: 0;
		transform: scaleX(0);
		border-left: 0.5px solid #b8b7be;
	}
}

@keyframes recFixInput {
	0% {
		opacity: 1;
		width: 145px;
		border-left: 20px solid #015679;
	}
	
	100% {
		opacity: 1;
		width: 145px;
		border-left: 20px solid #0ba2dd;
	}
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text'*/
	background: url("../img/achtergrond.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/achtergrond.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/achtergrond.jpg', sizingMethod='scale')";
	min-height: 100%;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
	opacity: 0;
	animation: fadeIn 0.6s ease-in-out 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

html {
	min-height: 100%;
}

.rectangle{
	z-index: -1;
	box-shadow: 0px 0px 131px 0px rgba(0, 0, 0, 0.21);
	width: 170%;
	background-color: #FFFFFF;
	position: fixed;
	height: 330px;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0);
	-ms-transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0);
	-webkit-transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0);
	transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0);
	-webkit-animation: logInRecIn 0.7s ease-in-out 0.3s;
	animation: logInRecIn 0.7s ease-in-out 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.rectangle.small {
	transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(1);
	animation: logInRecSmall 0.5s ease-in-out 0.25s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.rectangle.notSmall {
	transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0) scaleY(0.76);
	animation: logInRecNotSmall 0.5s ease-in-out 0.25s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#content.login .logo {
	margin-bottom: 25px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.logo{
	width: 90px;
    height: auto;
	display:block;
	margin: 0 auto;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.aniOut .logo {
	opacity: 1;
	animation: fadeOut 0.4s ease-in-out 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.aniIn .logo {
	animation-delay: 0.4s;
}

.form {
	width: 80%;
	max-width: 230px;
	text-align: center;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form input:not(#submit) {
	transform: scaleX(0);
	max-width: 145px;
	padding: 2px 40px 2px 10px;
	height: 38px;
	margin-bottom: 5px;	
	animation: recInInput 0.5s ease-in-out 0.6s;
	opacity: 0;
	border-left: 0.5px solid #b8b7be;
	border-right: 0.5px solid #b8b7be;
	border-top: 0.5px solid #b8b7be;
	border-bottom: 0.5px solid #b8b7be;
	width: 145px;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	color: #464648;
	font-size: 14px;
	overflow-x: auto;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s; 
}

#username.loaded, #password.loaded {
	transform: scaleX(1) !important;
	opacity: 1 !important;
	border-left: 20px solid #015679 !important;
	animation: none !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

.aniOut #username, .aniOut #password {
	opacity: 1 !important;
	border-left: 20px solid #015679 !important;
	transform: scaleX(1) !important;
	animation: recOutInput 0.4s ease-in-out 0.1s !important;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.aniIn #username, .aniIn #password {
	animation-delay: 0.3s !important;
}

.loaded {
	opacity: 1 !important;
	animation: none !important;
}

.submitted #username:invalid, .submitted #password:invalid {
	border-left: 20px solid #b32704 !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

.form #username.loaded.shake-horizontal.shake-constant:not(#submit), .form #password.loaded.shake-horizontal.shake-constant:not(#submit), .user.shake-horizontal.shake-constant, .lock.shake-horizontal.shake-constant {
	animation-name: shake-horizontal !important;
    animation-duration: 2800ms !important;
    animation-timing-function: ease-in-out !important;
    animation-iteration-count: infinite !important;
	animation-delay: 0s !important;
	opacity: 1 !important;
}

.user.shake-horizontal.shake-constant, .lock.shake-horizontal.shake-constant {
	opacity: 1 !important;
}

#username:valid, #password:valid {
	border-left: 20px solid #4cb002 !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

.error #username, .error #password {
	border-left: 20px solid #b32704 !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

.form input:focus:not(#submit) {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	border-right: 0.5px solid #b8b7be;
	border-top: 0.5px solid #b8b7be;
	border-bottom: 0.5px solid #b8b7be;
	animation-play-state: paused;
	animation: none;
	opacity: 1;
	width: 145px;
	border-left: 20px solid #0ba2dd !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

#submit {
	width: 120px;
	background-color: #015679;
	color: #FFFFFF;
	border: 0;
	margin: 10px auto;
	height: 37px; 
	font-size: 16px;
	transition: background-color 0.1s ease-in-out;
	opacity: 0;
	animation: fadeIn 0.4s ease-in-out 0.9s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.aniOut #submit {
	opacity: 1;
	animation: fadeOut 0.4s ease-in-out 0.05s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.aniIn #submit {
	animation-delay: 0.45s;
}

#submit:active {
	background-color: #464648;
}

.user {
	color:#46454a;
	width: 24px;
	float: right;
	margin-top: -40px;
	margin-right: 18px;
	z-index: 999999;
	position: relative;
	opacity: 0;
	animation: fadeIn 0.3s ease-in-out 1.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.lock {
	color:#46454a;
	width: 30px;
	float: right;
	margin-top: -43px;
	margin-right: 15px;
	z-index: 999999;
	position: relative;
	animation: fadeIn 0.3s ease-in-out 1.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
}

.aniOut .user, .aniOut .lock {
	opacity: 1 !important;
	animation: fadeOut 0.3s ease-in-out 0s !important;
	-webkit-animation-fill-mode: forwards !important;
	animation-fill-mode: forwards !important;
}

.aniIn .user, .aniIn .lock {
	animation-delay: 0.6s !important;
}

.login a {
	color: #4d4c51;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	transition: color 0.1s ease-in-out;
	opacity: 0;
	animation: fadeIn 0.4s ease-in-out 0.95s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.login .aniOut a {
	opacity: 1;
	animation: fadeOut 0.4s ease-in-out 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.login .aniIn a {
	animation-delay: 0.475s;
}

.login a:active {
	color: #015679;
}

.footer {
	position: fixed;
	right: -100px;
  	bottom: 1em;
	max-width:100%;
	left: 100px;
	text-align: center;
	color: #FFFFFF;
	opacity: 0;
	animation: slideIn 0.8s ease-in-out 0.4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

input {
	outline: 0;
}

.hide {
	display: none !important;
}

.forgotPassword h2 {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	color: #464648;
	text-align: left;
	padding-left: 7px;
	margin-bottom: 5px;
	animation: fadeIn 0.4s ease-in-out 0.7s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
}

.forgotPassword.aniOut h2 {
	animation: fadeOut 0.4s ease-in-out 0.0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 1;
}

.forgotPassword.aniIn h2 {
	animation-delay: 0.35s;
}

.form.forgotPassword {
	width: 80%;
	max-width: 230px;
	text-align: center;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Dashboard CSS begint hieronder 
/////////////////////////////////////////////////	
////////////////////////////////////////////////
*/

.square1{
	z-index: -2	;
	width: 170%;
	background-color: #FFFFFF;
	position: fixed;
	height: 1000px;
	top: 195px;
	
}

.square2{
	z-index: -2;
	width: calc((100% - 200px) / 2);
	background-color: #FFFFFF;
	position: absolute;
	height: 200px;
	top: 95px;
	left: 0%;
	
}

.square3{
	z-index: -2;
	width: calc((100% - 200px) / 2);
	background-color: #FFFFFF;
	position: absolute;
	height: 200px;
	top: 95px;
	right:0;
	
}
/*
.square4{
	z-index: -2;
	width: 20%;
	background-color:aliceblue;
	position: fixed;
	height: 20%;
	top: 16.155%;
	left: 65%;
	transform: rotate(46deg); 
}
.square5{
	z-index: -2;
	width: 20%;
	background-color:aliceblue;
	position: fixed;
	height: 20%;
	top: 16.155%;
	left: 15%;
	transform: rotate(-46deg);
}
*/
.dashbutton{
	background:url(../img/button2.png);
	background-size: 70px 70px;
	z-index: 2;
	width: 70px;
    height: 70px;
	position: absolute;
	float: left;
	margin: 0 auto;	
	left: calc(50% - 0px);
	top: 111px;
	transform: translateX(-50%) rotate(45deg);
	
}

.dashbutton:active {
	z-index: 2;
	background:url(../img/button_click2.png);
	background-size: 70px 70px;
	transform: translateX(-50%) rotate(45deg);
}
/*
.dashbutton2{
	z-index: 2;
	width: 110px;
	height: 110px;
	
	position:absolute;
	float: left;
	margin: 0 auto;
	left: calc(50% - 1px);
	top: 70px;
	transform: translateX(-50%) rotate(45deg);
}

.dashbutton2:active {
	background:url(../img/button_click.png) center no-repeat;
	transform: translateX(-50%) rotate(45deg);
}

.dashmenu{
	width: 40px;
	height:auto;
	margin-top: 0 auto;
	padding-top: 25px;
	padding-left: 15px;
}
*/


.dashvhoek{
	z-index: -2;
	margin: 0 auto;
	width: 200px;
	left: 50%;
	top: 95px;
	position: absolute;
	transform: translateX(-50%);
	
}

.dashlogout{
	width: 120px;
	background-color: #015679;
	color: #FFFFFF;
	border: 0;
	margin-top: 120px;
	height: 37px; 
	font-size: 16px;
	}

/* 
//////////////////////////////////////////////////
/////////////////////////////////////////////////
AppMenu CSS begint hieronder 
/////////////////////////////////////////////////	
////////////////////////////////////////////////
*/

.cd-primary-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
}
 
.cd-primary-nav.is-visible {
  transform: translateY(0);
}

.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  transition: background-color 0.3s;
}
 
.cd-header.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -80px;
  transition: transform 0.3s;
}
 
.cd-header.is-visible {
  /* if the user changes the scrolling direction, we show the header */
  transform: translate3d(0, 100%, 0);
}


.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
	.cd-header {
		height: 80px;
	}
}

@media only screen and (min-width: 1170px) {
  .cd-header {
    
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
  }
  .cd-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  
}

.cd-primary-nav-trigger {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 42px;
  padding-right: 20px;
}

.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 42px;
  height: 6px;
  background-color: white;
  /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  right: 0;
/* Animation speed for the menu icon: */
  -webkit-transition: -webkit-transform .3s, top .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s, top .3s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -11px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 11px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}

/* Getting the cross - 1st line */
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Getting the cross - 2nd line */
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 40px;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block;
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 4;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;

 background-color: rgba(46, 46, 46, 0.5);
  background-size: cover;
	
}
.cd-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.cd-primary-nav a {
  display: inline-block;
  
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

@media only screen and (min-width: 400px) {
	.cd-primary-nav .cd-label {
	  margin: 2.5em 0 0em !important;
	}
}

.cd-primary-nav .cd-label {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 1.5em 0 0em;
}
.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em;
}
.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem;
  }
}

figcaption {
	margin-top: 10px !important;
	font-size: 15px !important;
	color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	text-transform: none;
}

.imgs {
	width: 70px;
	height: auto;
}
	
.logout {
	width: 25px;
	height: auto;
	position: relative;
	bottom: 47px;
	left: 32px;
}

.profile {
	position: relative;
}

.questionMark {
	position: absolute;
	left: 5px;
	bottom: 5px;
}

@media only screen and (min-width: 700px) {
	.imgs {
		width: 100px;
		height: auto;
	}	
	.logout {
		width: 30px;
		height: auto;
		bottom: 55px;
		left: 37px;
	}
	.profilePicture {
	height: 100px;
	width: 95px;
	}
}

.fa {
	color: white;
	font-family: FontAwesome !important;
	font-size: 92px !important;
}



