/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	touch-callout: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

input[type="text"], textearea {
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

body, html {
	max-width: 100%;
	overflow-x: hidden !important;
	margin: 0;
	padding: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		left: 100px;
		right: -100px;
	}
	
	to {
		opacity: 1;
		left: 0;
		right: 0;
	}
}

@keyframes logInRecIn {
	from {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0);
		height: 1px;
	}
	
	to {
		transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0);
		height: 330px;
	}
}

@keyframes recInInput {
	0% {
		opacity: 0;
		width: 0px;
		border-left: 0.5px solid #b8b7be;
	}
	
	20%{
		opacity: 1;
		width: 0px;
		border-left: 0.5px solid #b8b7be;
	}
	
	45% {
		opacity: 1;
		width: 72.5px;
		border-left: 10px solid #015679;
	}
	
	70% {
		opacity: 1;
		width: 145px;
		border-left: 20px solid #015679;
	}
	
	100% {
		opacity: 1;
		width: 145px;
		border-left: 20px solid #015679;
	}
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text'*/
	background-image: url("../img/achtergrond.jpg");
	background-size: cover;
	background-position: center;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
	opacity: 0;
	animation: fadeIn 0.6s ease-in-out 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.rectangle{
	z-index: -1;
	box-shadow: 0px 0px 131px 0px rgba(0, 0, 0, 0.21);
	width: 170%;
	background-color: #FFFFFF;
	position: fixed;
	height: 0px;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0);
	-ms-transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0);
	-webkit-transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0);
	transform: translate(-50%, -50%) rotate(-27deg) translate3d(0,0,0);
	-webkit-animation: logInRecIn 0.7s ease-in-out 0.3s;
	animation: logInRecIn 0.7s ease-in-out 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#content.login {
	
}

#content.login .logo {
	margin-bottom: 25px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

img{
	width: 90px;
    height: auto;
	display:block;
	margin: 0 auto;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.form {
	width: 80%;
	max-width: 230px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form input:not(#submit) {
	width: 0px;
	max-width: 145px;
	padding: 2px 40px 2px 10px;
	height: 38px;
	margin-bottom: 5px;	
	animation: recInInput 0.5s ease-in-out 0.6s;
	opacity: 0;
	border-left: 0.5px solid #b8b7be;
	border-right: 0.5px solid #b8b7be;
	border-top: 0.5px solid #b8b7be;
	border-bottom: 0.5px solid #b8b7be;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	color: #464648;
	font-size: 14px;
	overflow-x: auto;
}

.form input:focus:not(#submit) {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	border-right: 0.5px solid #b8b7be;
	border-top: 0.5px solid #b8b7be;
	border-bottom: 0.5px solid #b8b7be;
	border-left: 20px solid #015679;
}

#submit {
	width: 120px;
	background-color: #015679;
	color: #FFFFFF;
	border: 0;
	margin: 10px auto;
	height: 37px; 
	font-size: 16px;
	transition: background-color 0.1s ease-in-out;
	opacity: 0;
	animation: fadeIn 0.4s ease-in-out 0.9s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#submit:active {
	background-color: #464648;
}

.user{
	color:#46454a;
	width: 24px;
	float: right;
	margin-top: -40px;
	margin-right: 18px;
	z-index: 999999;
	position: relative;
	opacity: 0;
	animation: fadeIn 0.3s ease-in-out 1.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.lock{
	color:#46454a;
	width: 30px;
	float: right;
	margin-top: -43px;
	margin-right: 15px;
	z-index: 999999;
	position: relative;
	animation: fadeIn 0.3s ease-in-out 1.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
}

.login a {
	color: #4d4c51;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	transition: color 0.1s ease-in-out;
	animation: fadeIn 0.4s ease-in-out 0.95s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.login a:active {
	color: #015679;
}

.footer{
	position: absolute;
	right: -100px;
  	bottom: 1em;
	max-width:100%;
	left: 100px;
	text-align: center;
	color: #FFFFFF;
	opacity: 0;
	animation: slideIn 0.8s ease-in-out 0.4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

input {
	outline: 0;
}

input[type="text"]:focus ~ .footer {
	display: none;
}