/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, html {
	max-width: 100%;
	/*overflow-x: hidden !important;*/
	margin: 0;
	padding: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text'*/
	background-image: url("../img/achtergrond.jpg");
	background-size: cover;
	background-position: center;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
}

.rectangle{
	z-index: -1;
	box-shadow: 0px 0px 131px 0px rgba(0, 0, 0, 0.21);
	width: 220%;
	height: 320px;
	background-color: #FFFFFF;
	position: fixed;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%) rotate(-27deg);
	-ms-transform: translate(-50%, -50%) rotate(-27deg);
	-webkit-transform: translate(-50%, -50%) rotate(-27deg);
	transform: translate(-50%, -50%) rotate(-27deg);
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

#content.login {
	
}

#content.login .logo {
	margin-bottom: 25px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

img{
	width: 90px;
    height: auto;
	display:block;
	margin:0 auto;
}

.form {
	width: 80%;
	max-width: 230px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form input {
	width: 215px;
	height: 38px;
	margin-bottom: 5px;	
}

#submit {
	width: 120px;
	background-color:#015679;
	color:#FFFFFF;
	border: 0;
	margin: 10px auto;
	height: 37px; 
	font-size: 16px;
}

.user{
	color:#46454a;
	width: 24px;
	float: right;
	margin-top: -37px;
	margin-right: 22px;
	z-index: 999999;
	position: relative;
	
}

.lock{
	color:#46454a;
	width: 30px;
	float: right;
	margin-top: -42px;
	margin-right: 19px;
	z-index: 999999;
	position: relative;
	
}

a {
	color: #4d4c51;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
}

.footer{
	position: absolute;
	padding: 1rem;
	right: 0;
  	bottom: 0;
  	left: 0;
	max-width:100%;
	text-align: center;
	color:#FFFFFF
}

input {
	outline: 0;
}